**/.env*
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
*.log
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
*.egg-info/
dist/
build/
*.egg
*.log
*.pot
*.mo
crypt.conf
**/.github/
**/.vscode/
**/venv/
**/profile.session*
